body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 100%;

}

.title {
    background-color: black;
}

.title_text {
    font-family: 'Sigmar one', monospace;
    font-size: 45px;
    line-height: 30px;
    font-weight: bolder;
    padding: 20px;
    color: black;
    text-shadow: 1px 0px 0px white, 
                 -1px 0px 0px white, 
                 0px 1px 0px white, 
                 0px -1px 0px white;
}

.paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;   

}

.options {
    width: 70%;
    margin-bottom: 20px;    
    margin-bottom: 20px;
    max-width: 400px;
}

.icon {
    font-family: monospace;
    font-size: 40px;
}

.input {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
}

.footer {
    background-color: black;
    position:absolute;
    bottom:0;
    width:100%;
}

.footer_text {
    color: white;
}